body {
  background-image: url('Greece.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 212, 0.4); /* White overlay at 40% opacity */
    z-index: -1; /* Puts overlay behind content */
}

.navbar-logo {
      width: 10%;
      height: 10%;
      object-fit: contain;
}

nav {
    background-color: #d1ecf4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex: 1;
    justify-content: center;
    position: absolute;
    left: 50%; /* Move to center of nav */
    transform: translateX(-50%); /* Adjust back by half its width = perfect center */
    gap: 20px;

  }
  
nav ul li {
    display: block;
    margin-right: 10px;
 

  }
  
nav a {
    text-decoration: none;
    color: #44a1be;
    font-weight: bold;

  }

.search-box {
    display: flex;
    gap: 10px;
}

.home {
    background-color: #44a2be7b;
 
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 20px;

}

.welcome {
    font-size: 56px;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 20px;
    line-height: 1.1;
    font-weight: bold;
}

button {
    padding: 7px 15px;
    background-color: #44a1be;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

