body {
  background-image: url('Greece.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(212, 212, 212, 0.4); /* White overlay at 40% opacity */
}

.navbar-logo {
      width: 10%;
      height: 10%;
      object-fit: contain;
}

nav {
    background-color: #d1ecf4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex: 1;
    justify-content: center;
    position: relative;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
nav ul li {
    display: block;
    margin-right: 10px;
}
  
nav a {
    text-decoration: none;
    color: #44a1be;
    font-weight: bold;
}

.search-box {
    background-color: white;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 16px;
    
}

#conditionInput {
    border: none;
    width: 200px;
}
#conditionInput::placeholder {
      color: #44a1be;
    }


.home, .about, .contact {
    background-color: #44a2be7b;
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 20px;
}

.welcome, h1 {
    font-size: 56px;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 20px;
    line-height: 1.1;
    font-weight: bold;
}

button, #btnClear, #subutn, #btnSearch {
    padding: 7px 15px;
    background-color: #44a1be;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }

.row{
  margin-left: 50px;
  color: white;
}

.column {
  float: left;
  width: 30%;
  padding: 0 5px;
}

.container {
  background-color: #3c8ea763;
  color: white;
  padding: 0 16px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-weight: bold;
  font-size: 15px;
  color: #1f4a57;
}

.contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 20px;
  padding-right: 20px;
}
.contact-form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

.home{
   display: flex; 
   overflow: auto;
   align-items: flex-start;
   margin-top: 10px;
}

.welcome{
  float: left;
  width: 100%;
}
#recommendations{
  float: right;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: none;
  margin: 20px;
  padding: 0;
  margin-top: 20px;
}

#recommendations h3{
  color: #1f4a57;
  margin-left: 10px;
}

.card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.card img {
  width: 100%;
  height: 400px; /* Fixed height */
  object-fit: cover; /* Crops image to fill space */
  object-position: center; /* Centers the image */
  display: block;
}

.greeting{
  background-color: #44a2be7b;
  color: #ffffff;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}