.navbar-logo {
      width: 10%;
      height: 10%;
      object-fit: contain;
}

nav {
    background-color: #d1ecf4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex: 1;
    justify-content: center;
    position: absolute;
    left: 50%; /* Move to center of nav */
    transform: translateX(-50%); /* Adjust back by half its width = perfect center */
    gap: 20px;

  }
  
  nav ul li {
    display: block;
    margin-right: 10px;
 

  }
  
  nav a {
    text-decoration: none;
    color: #44a1be;
    font-weight: bold;

  }

.search-box {
    display: flex;
    gap: 10px;
}